name: Build

on:
  push:
    branches:
      - test

jobs:
  build_and_deploy_mod:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract mod version
        id: extract_version
        shell: pwsh
        run: |
          # Извлекаем версию мода из info.json"
          $version = Get-Content -Path "D:/Development/Mini-Trains-Lead-the-Way/info.json" | ConvertFrom-Json | Select-Object -ExpandProperty version
          echo "mod_version=$version" >> $env:GITHUB_OUTPUT

      - name: Archive mod folder
        shell: pwsh
        env:
          MOD_VERSION: ${{ steps.extract_version.outputs.mod_version }}
        run: |
          # Создаем имя архива с учетом версии             
          $mod_name = "Mini-Trains-Lead-the-Way"
          $archive_name = "$mod_name_$env:MOD_VERSION.zip"
          
          # Создаем архив в папке D:\Development
          Compress-Archive -Path 'D:/Development/Mini-Trains-Lead-the-Way/*' -DestinationPath "D:/Development/$archive_name" -Force          

      - name: Copy mod archive to Factorio mods folder
        shell: pwsh
        env:
          MOD_VERSION: ${{ steps.extract_version.outputs.mod_version }}
        run: |
          # Копируем архив в папку с модами Factorio                 
          $mod_name = "Mini-Trains-Lead-the-Way"
          $archive_name = "$mod_name_$env:MOD_VERSION.zip"
          Copy-Item -Path "D:/Development/$archive_name" -Destination "C:/Users/Indzasa/AppData/Roaming/Factorio/mods/$archive_name" -Force